/* General Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    /* border: 1px solid black; */
}

body {
    background-color: #f4f4f4;
    font-family: 'avenir_next_lt_proregular', sans-serif;
    color: #000C47;
    text-align: justify;
}

header {
    top: 0;
    left: 0;
    height: 15vh;
    background: linear-gradient(45deg, #000C47, #011893);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw;
}

#home {
    text-decoration: none;
    font-size: xx-large;
    font-weight: 400;
    color:#f4f4f4;
    line-height: 0.9;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 3vw;
}

nav ul li a {
    text-decoration: none;
    color: #f4f4f4;
}

a:hover {
    text-decoration: underline;
}

#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 3rem;
    color: #f4f4f4;
    cursor: pointer;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #011893;
    margin-bottom: 20px;
}

/* Buttons */
button, .custom-button, .back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(45deg, #000C47, #011893);
    color: #f4f4f4;
    cursor: pointer;
    transition: 0.3s;
}

.custom-button {
    width: 350px;
    height: 80px;
}

.back-button {
    width: 150px;
    height: 50px;
}

button:hover {
    transform: scale(1.01);
}

.custom-button:hover, .back-button:hover {
    filter: brightness(1.2);
    transform: scale(1.01);
}

/* Video */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.3s;
}

video:hover {
    transform: scale(1.01);
    cursor: pointer;
}

/* PDF Container */
.pdf-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pdf-container object {
    flex: 1;
    height: 90vh;
}

/* General Container */
.slider-container {
    position: relative;
    height: 40vh; /* Adjustable height */
    overflow: hidden; /* Hide slides outside the container */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Slides Wrapper */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Each Slide */
.slide {
    flex: 1 0 100%; /* Each slide takes full container width */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:disabled {
    background: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
    opacity: 0;
}

/* Footer */
footer {
    width: 100%;
    height: 40px;
    background-color: rgb(173, 173, 173);
    color: #f4f4f4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Font Definitions */
@font-face {
    font-family: 'avenir_next_lt_proregular';
    src: url('/fonts/26301410506-webfont.woff2') format('woff2'),
         url('/fonts/26301410506-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 768px) {
    nav ul {
        display: none; /* Hide desktop navigation on mobile */
    }

    #menu-toggle {
        display: block; /* Show the toggle button on mobile */
    }

    #menu {
        display: none; /* Hide the dropdown menu by default on mobile */
    }
}